/* global */
  @font-face {
    font-family: 'compagnon';
    font-weight: lighter;
    font-style: italic;
    src: url(fonts/Compagnon-LightItalic.otf); 
    src: url(fonts/Compagnon-LightItalic.otf) format('embedded-opentype'),
    url(fonts/Compagnon-LightItalic.otf) format('woff2'), 
    url(fonts/Compagnon-LightItalic.otf) format('woff'), 
    url(fonts/Compagnon-LightItalic.otf)  format('opentype');
  }

  @font-face {
    font-family: 'compagnon';
    font-weight: normal;
    font-style: normal;
    src: url(fonts/Compagnon-Roman.eot); 
    src: url(fonts/Compagnon-Roman.eot#iefix) format('embedded-opentype'),
    url(fonts/Compagnon-Roman.woff2) format('woff2'), 
    url(fonts/Compagnon-Roman.woff) format('woff'), 
    url(fonts/Compagnon-Roman.otf)  format('opentype');
  }
  
  @font-face {
    font-family: 'compagnon';
    font-weight: bold;
    font-style: italic;
    src: url(fonts/Compagnon-Bold.eot); 
    src: url(fonts/Compagnon-Bold.eot#iefix) format('embedded-opentype'),
    url(fonts/Compagnon-Bold.woff2) format('woff2'), 
    url(fonts/Compagnon-Bold.woff) format('woff'), 
    url(fonts/Compagnon-Bold.otf)  format('opentype');
  }

  @font-face {
    font-family: 'compagnon';
    font-weight: bold;
    font-style: normal;
    src: url(fonts/Compagnon-Medium.eot); 
    src: url(fonts/Compagnon-Medium.eot#iefix) format('embedded-opentype'),
    url(fonts/Compagnon-Medium.woff2) format('woff2'), 
    url(fonts/Compagnon-Medium.woff) format('woff'), 
    url(fonts/Compagnon-Medium.otf)  format('opentype');
  }
  
 body{
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    color: #101214;
    font-family: 'compagnon';
    font-weight: light;
    font-style: italic;
 }

 /* Style the header with a grey background and some padding */
 .header {
    float: inherit;
    text-align: center;
    overflow: hidden;
    background-color: (rgba(red, green, blue, 0));
  }

  .logo {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 40px;
    animation-name: logo;
    animation-duration: 1.6s;
    animation-direction: normal;
    animation-timing-function: step-start;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  @keyframes logo {
    0% {
        font-weight: bold;
        font-style: italic;
    }
    25% {
      font-weight: bold;
      font-style: normal;
    }
    50% {
        font-weight: normal;
        font-style: normal;
    }
    75% {
      font-weight: lighter;
      font-style: italic;  
    }
    100% {
        font-weight: bold;
        font-style: italic;
    }
  }

  /* Style the header */
  .header a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    border-radius: 4px;
    padding: 40px;
  }

    /* Style the active/current link*/
  .header a:active, a:focus {
    color: black;
    font-weight: bold;
    font-style: italic;
  }
  
  .header a:hover {
    color: black;
    font-weight: bold;
    font-style: italic;
  }

  .header-links {
    padding-bottom: 48px;
  }

 .nav-menu {
    float: inherit;
    display: none;
 }

 #nav-items {
    display: block;
    padding-top: 0;
    padding-bottom: 20px;
 }

 .current {
    font-weight: bold;
    font-style: italic;
 }

  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 968px) {
        .header-links {
            display: none;
        }

        .nav-menu {
            display: block;
            padding-bottom: 16px;
        }

        #aboutMenu {
          padding-bottom: 8px !important;
        }
  }

  /* styling della galleria */

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 0;
    /*provo position per overlay*/
    position: relative;
  }
  
  .column img {
    margin-top: 8px;
    width: 100%;
    /*prova hover*/
    display: block;
    height: auto;
  }

  .smallContainer {
    display: none;
  }

  .container a, .smallContainer a {
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
    font-style: italic;
  }

  .container a:hover, .smallContainer a:hover {
    font-weight: bold;
    font-style: italic;
  }

  .container .column {
    flex: 42%;
    max-width: 42%;
    padding: 2%;
  }

  .container p, .smallContainer p {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
  }


  .special{
    font-weight: bold;
    font-style: italic;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 968px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }

    .container .column {
      flex: 42%;
      max-width: 42%;
      padding: 2%;
    }
  
    .container p {
      text-align: left;
    }
    
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

    .container {
      display: none;
    }

    .smallContainer {
      display: block;
    }

    .smallContainer .column {
      max-width: auto;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 16px;
    }
  }
  
  /*prova overlay hover su immagini*/
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #d9d9d9ec;
  }

  .column:hover .overlay {
    opacity: 1;
  }

  .overlayText {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
